@use "./base.scss";

// put your custom CSS here!
@font-face {
    font-family: Lexend;
    src: url(/fonts/Lexend.ttf);
}

body {
    font-size: 120%;
}

p {
    line-height: 2;
}

li {
    line-height: 2;
}

article li {
    line-height: 2;
    margin: .5rem 0;
}

ul {
    list-style: disc;
}

li.section-li>.section {
    grid-template-columns: 3fr 1fr;
}

a {
    font-weight: normal;
}

a.internal {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    text-decoration: none;
    line-height: inherit;
}

.page>#quartz-body .right.sidebar {
    padding: 3rem 2rem 2rem;
    gap: 1rem;
    flex-direction: column;
}

ul.overflow>li:last-of-type,
ol.overflow>li:last-of-type {
    margin-bottom: 0;
}

a[href*="achievements"] {
    color: #E93147;
}

a[href*="endings"] {
    color: #EC7500;
}

a[href*="items"] {
    color: #E0AC00;
}

a[href*="locations"] {
    color: #068E3C;
}

a[href*="missions"] {
    color: #0BAAF9;
}

a[href*="characters"] {
    color: #7852EE;
}

::selection {
    color: var(--light);
    background: var(--secondary);
}