@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!
@font-face {
    font-family: Lexend;
    src: url(/havoc101/static/fonts/Lexend.ttf);
}

body {
    font-size: 120%;
}

p {
    line-height: 2;
    text-align: justify;
}

.center h2,
.center h3,
.center h4 {
    line-height: 2;
}

.center h2::before {
    content: '# ';
    color: var(--secondary);
    opacity: .5;
}

.center h3::before {
    content: '## ';
    color: var(--secondary);
    opacity: .5;
}

.center h4::before {
    content: '### ';
    color: var(--secondary);
    opacity: .5;
}

li {
    line-height: 2;
}

article li {
    line-height: 2;
    margin: .5rem 0;
}

ul {
    list-style: disc;
}

li.section-li>.section {
    grid-template-columns: 3fr 1fr;
}

a {
    color: inherit;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: var(--c);
    --c: var(--secondary);
    transition: none;
}

a.internal {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: var(--c);
    line-height: inherit;
}

a:hover {
    color: var(--c);
}

.page>#quartz-body .right.sidebar {
    padding: 3rem 2rem 2rem;
    gap: 1rem;
    flex-direction: column;
}

ul.overflow>li:last-of-type,
ol.overflow>li:last-of-type {
    margin-bottom: 0;
}

a[href*="achievements"] {
    --c: #E93147;
}

a[href*="characters"] {
    --c: #EC7500;
}

a[href*="endings"] {
    --c: #E0AC00;
}

a[href*="items"] {
    --c: #068E3C;
}

a[href*="locations"] {
    --c: #0BAAF9;
}

a[href*="mechanics"] {
    --c: #7852EE;
}

a[href*="missions"] {
    --c: #db39d5;
}

::selection {
    color: var(--light);
    background: var(--secondary);
}

@media all and ($mobile) {
    p {
        text-align: left;
    }
}